<h1>Burger Stuff</h1>
<div class="row">

<div class="col">
<h2>Burgers Not Eaten</h2>
<ul class="list-group" id="not-eaten-ul">
	</ul>
</div>

<div class="col">
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger-name">Burger Name:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <div class="form-group">
    <label for="is-eaten">Has it been eaten?</label><br>
    <input type="radio" name="is-eaten" value="1" checked> It's eaten!<br>
    <input type="radio" name="is-eaten" value="0"> Still there
  </div>

  <button type="submit" class="btn btn-success">Add New Burger</button>
</form>
</div>


<div class="col">
<h2>Burgers Eaten</h2>
<ul class="list-group" id="eaten-ul">
	</ul>
</div>

</div>
<script>
	$(document).ready(function(){
		$.ajax("/api/burgers",{
		type:"GET"}).then(
			function(data){
				console.log(data);
				data.forEach(function(burger){
					var liElement = $("<li>").attr({class:"list-group-item d-flex justify-content-between align-items-center"});
					var modifyBtn = $("<button>").attr({type:"button",class:"btn btn-warning mr-1","data-bid":burger.id});
					var deleteBtn = $("<button>").attr({type:"button",class:"btn btn-danger btn-sm ml-1 delete-btn","data-bid":burger.id}).text("Delete Burger");
					var burgerName = $("<span>").text(burger.burger_name);
					if(!burger.devoured){
						modifyBtn.addClass("uneat-btn").text("Uneat");
						liElement.append(modifyBtn);
						liElement.append(burgerName);
						liElement.append(deleteBtn);
						$("#not-eaten-ul").append(liElement);
					}else{
						modifyBtn.addClass("eat-btn").text("Eat");
						liElement.append(modifyBtn);
						liElement.append(burgerName);
						liElement.append(deleteBtn);
						$("#eaten-ul").append(liElement);
					}

	$(".eat-btn").on("click", function(event) {
    // Send the DELETE request.
    $.ajax("/api/burgers/"+$(this).attr("data-bid"), {
      type: "PUT",
data:{isEaten: true}
    }).then(
      function() {
        console.log("ate burger");
	      location.reload();
      }
    );
  });

	$(".uneat-btn").on("click", function(event) {
    // Send the DELETE request.
    $.ajax("/api/burgers/"+$(this).attr("data-bid"), {
      type: "PUT",
data:{isEaten:false}
    }).then(
      function() {
        console.log("ate burger");
	      location.reload();
      }
    );
  });

	$(".delete-btn").on("click", function(event) {
    // Send the DELETE request.
    $.ajax("/api/burgers/"+$(this).attr("data-bid"), {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted burger");
	      location.reload();
      }
    );
  });
				});
			});
	});

	$(".create-form").on("submit", function(event) {

    var newBurger = {
      name: $("#burger-name").val().trim(),
      devoured: $("[name=is-eaten]:checked").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("new burger" );
				console.log(newBurger);
        location.reload();
      }
    );
  });
	


</script>
